{% load static %}

  <!-- Body-->
  <body class="handheld-toolbar-enabled">
    <!-- Google Tag Manager (noscript)-->
    <noscript>
      <iframe src="http://www.googletagmanager.com/ns.html?id=GTM-WKV3GT5" height="0" width="0" style="display: none; visibility: hidden;"></iframe>
    </noscript>
    
    <main class="page-wrapper">
      
      <!-- Navbar Marketplace-->
     
      <!-- Dashboard header-->
      {% include 'adminHeader.html' %}
      <div class="container mb-5 pb-3">
        <div class="bg-light shadow-lg rounded-3 overflow-hidden">
          <div class="row">
            <!-- Sidebar-->
            
            {% include 'alerts.html' %} 

            {% include 'adminSidebar.html' %}
            {% block content %}

            {% endblock content %}