{% load static %}
<!-- Start Footer Area -->
<footer class="footer">
    <!-- Start Footer Top -->
   
    <!-- End Footer Top -->

    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="inner-content">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-12">
                        <div class="payment-gateway p-0 m-0">
                            {% comment %} <img src="{% static 'assets/images/footer/credit-cards-footer.png' %}" alt="#"> {% endcomment %}
                            <img class="rounded-circle" src="{% static 'assets/images/logo/logo-white.png' %}" alt="Logo1" width="50" height="75">

                        </div>
                    </div>
                    <div class="col-lg-4 col-12">

                    </div>
                    <div class="col-lg-4 col-12">
                        <ul class="socila">
                            <li>
                                <span>Follow Us On:</span>
                            </li>
                            <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-instagram"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-google"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>
<!--/ End Footer Area -->