{% extends 'homebase_ecommerce.html' %}
{% load static %}

{% block content %}

<section class="section-conten padding-y bg my-5">


    <div class="container">
        <div class="row">
            {% include 'include/dashboardSidebar.html' %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Change {{user.first_name}}'s Password : </strong>
                
            </header>

            <div class="card-body">
                
                <div class="row">
                    <form action="{% url 'changePassword' %}"  method='POST'>
                        {% csrf_token %}
                        <div class="lg-12 ">
                            <label class='form-group'>Current password</label>
                            <input type="password" name="currentPassword" placeholder="Current password" required class='form-control'>
                            
                        </div>

                        <div class="md-12">
                            <label class='form-group'>Enter password</label>
                            <input type="password" name="password" placeholder="password" required class='form-control'>
                        </div>

                        <div class="md-12">
                            <label class='form-group'>Confirm password</label>
                            <input type="password" name="confirmPassword" placeholder="Confirm password" required class='form-control'>
                            
                        </div>

                        <div class="md-12 mt-3">
                            <input type="submit" value='Change Password' class='btn btn-primary'>
                        </div>
                    </form>
                </div>
            
            </div>
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>


{% endblock content %}




